:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.MuiContainer-root {
  min-height: 100vh;
}

.MuiGrid-root {
  min-height: 100vh;
}

.MuiList-root {
  height: 400px;
  overflow-y: auto;
}

.MuiList-root.scroller {
  padding-right: 20px;
  scrollbar-color: #006ded #fff;
  scrollbar-width: thin;
}

.MuiList-root.scroller::-webkit-scrollbar {
  height: 100%;
  width: 2px;
  background-color: transparent;
}

.MuiList-root.scroller::-webkit-scrollbar-corner {
  background-color: transparent;
}

.MuiList-root.scroller::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 20px 0px 0px 20px;
}

.scroller::-webkit-scrollbar-track {
  border-radius: 20px 0px 0px 20px;
}
